
/************GERAL**************/
:root{
    --cor-principal: #34333D;
    --cor-subtitulo: ;
    --cor-paragrafo: #34333D;
    --cor-padrão: ;
    --cor-fundo: #C8CADE;
}

body{
    background-color: rgb(177, 176, 176);
}

a{
    text-decoration: none;
}

p{
    font-family: "sarabun";
}
/*************HEADER***********/

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-fundo);
    border: solid 1px #b2b4c5;
}

.options{
    display: flex;
    gap:10px;
    padding: 10px;
    margin-right: 20px;
    color: var(--cor-principal);
    font-family: "sarabun";
    color: #34333D;
}

.title{
    color: var(--cor-principal);
    font-size: 20px;
    margin-left: 20px;
    font-family: "sarabun";
}

.menuhamburger{
    display: none;
}

/***************MAIN***************/

.main{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: whitesmoke;

}

.foto-principal{
    border-radius: 50%;
    float: left;

}

.texto-principal{
    text-align: justify;
    margin-top: 20px;
    max-width: 500px;
    color: var(--cor-principal);
    font-family: "sarabun";
}

.subtitulo{
    font-size: 20px;
}

/*********SECTION**********/
.container{
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 5px;
    background-color: whitesmoke;
}

.container-foto{
    width: 80px;
    height: 100px;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px var(--cor-principal);
    border-radius: 10px;
}

.container-foto:hover{
    background-color:#b2b4c5;;
}

.titulo1{
    display: flex;
    flex-basis: 100%;
    width: 0;
    justify-content: flex-end;
    font-family: "sarabun";
}

.titulo2{
    display: flex;
    flex-basis: 100%;
    width: 0;
    justify-content: flex-start;
    font-family: "sarabun";
}

/****************FOOTER****************/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--cor-fundo);
    border: solid 1px #b2b4c5;
}

.contato{
    margin-right: 20px;
    font-family: "sarabun";
}

.links{
    display: flex;
    margin-left: 20px;
    gap:15px;
}

@media only screen and (max-width:450px){
    .options{
        display: none;
    }

    .menuhamburger{
        display: flex;
        padding-right: 5px;
        padding-left: 5px;
        align-self: center;
        flex-direction: column;
        align-items: flex-end;
    }

    .options-menu{
        display: flex;
        flex-direction: column;
        display: none;
    }


    .menuhamburger:hover{
        background-color: #9C9EAD;
        cursor: pointer;
    }

    .menuhamburger:first-of-type{
        background-color: #343fc0;
    }

    .titulo1{
        display: flex;
        justify-content: center;
    }

    .titulo2{
        display: flex;
        justify-content: center;
    }

    .container{
        display: flex;
        gap:20px;
        justify-content: center;
    }

    .foto-principal{
        float: left;
    }

    .main{
        display: flex;
        flex-wrap: wrap;
    }
}
